@import "tailwindcss";

@theme {

    --color-main-1: oklch(0.28 0.0181 241.71);
    --color-main-2: oklch(0.34 0.0244 248.55);
    --color-main-3: oklch(0.47 0.0254 246.22);
    --color-accent-1: oklch(0.4 0.0709 229.86);
    --color-accent-2: oklch(0.88 0.0094 150.67);
    --color-accent-3: oklch(0.27 0.0242 253.69);
}

@keyframes animate {
    50% {
        background-position: 100% 50%;
    }
    0%, 100% {
        background-position: 0% 50%;
    }
}

@layer base {
    h1 {
        @apply text-[84px] font-black leading-[84px];
    }
    h2 {
        @apply text-[64px] font-black leading-[64px];
    }
    h3 {
        @apply text-[40px] font-black leading-[40px];
    }

    p {
        @apply text-[18px] font-semibold leading-[18px]
    }
}

@layer components {

}

@layer utilities {
    .text-vertical-rl {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    .text-vertical-lr {
        writing-mode: vertical-lr;
        text-orientation: mixed;
    }

    .text-head {
        @apply text-[84px] font-black leading-[84px];
    }

    .text-mobile-head {
        @apply text-[64px] font-black leading-[64px];
    }

    .text-subhead {
        @apply text-[48px] font-black leading-[56px];
    }

    .text-desc {
        @apply text-[20px] font-light leading-[24px];
    }

    .text-label {
        @apply text-[32px] font-semibold leading-[40px];
    }

    .text-body1 {
        @apply text-[22px] font-light leading-[26px];
    }

    .text-body2 {
        @apply text-[20px] font-light leading-[24px];
    }

    .text-mini {
        @apply text-[14px] font-semibold leading-[18px];
    }

    .gradient-animated {
        background-size: 200%;
        animation: animate 2s ease-in-out infinite;
    }
}