@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Zen+Dots&display=swap');
@import "tailwindcss";


@theme {
    --color-background: oklch(0.13 0.0033 325.76);
    --color-default: oklch(0.86 0.018 311.56);

    --color-grad-1: oklch(0.25 0.0269 325.76);
    --color-grad-2: oklch(0.17 0.0247 325.76);

    --color-primary: oklch(0.52 0.2929 290.65);
    --color-secondary: oklch(0.74 0.0991 292.44);
    --color-tertiary: oklch(0.74 0.1211 318.81);
}

@keyframes animate {
    50% {
        background-position: 100% 50%;
    }
    0%, 100% {
        background-position: 0% 50%;
    }
}

@layer base {
    h1 {
        @apply font-[Kanit] text-[84px] font-black;
    }
    h2 {
        @apply font-[Kanit] text-[40px] font-bold;
    }
    h3 {
        @apply font-[Kanit] text-[28px] font-semibold;
    }

    p {
        @apply font-[Karla] text-[20px] font-semibold;
    }
    
    li {
        @apply font-[Kanit] text-[20px] font-semibold;
    }
    a {
        @apply hover:text-primary hover:underline
    }

    td {
        @apply font-[Karla] text-[18px] font-light;
    }
}

@layer components {

}

@layer utilities {
    /* Text Alignment Classes */
    .text-vertical-rl {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    .text-vertical-lr {
        writing-mode: vertical-lr;
        text-orientation: mixed;
    }

    /* Text Styling Classes */
    .text-caption {
        @apply font-[Karla] text-[18px] font-light;
    }
    .text-label {
        @apply font-[Kanit] text-[20px] font-semibold;
    }
    .text-semilg{
        @apply font-[Kanit] text-[64px] font-bold;
    }


    /* Gradient Animation */
    .gradient-animated {
        background-size: 200%;
        animation: animate 2s ease-in-out infinite;
    }
}